<h1>Listing pants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Style</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pants.each do |pant| %>
  <tr>
    <td><%= link_to pant.name, pant %></td>
    <td><%= pant.style %></td>
    <td><%= pant.brand.name %></td>
    <td><%= link_to 'Edit', edit_pant_path(pant) %></td>
    <td><%= link_to 'Destroy', pant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pant', new_pant_path %>
